@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&family=Titillium+Web:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
}
.main {
  background: linear-gradient(to right,#21B025,#B02921);
  font-family: Titillium, Asap, sans-serif;
}
nav {
  align-items: center;
}
.btn {
  border-radius: 10px;
  background-color: rgb(93, 197, 23);
  border-color: rgb(236, 22, 10);
  font-size: 150%;
}
.btn:hover {
  background-color: #e9473f;
  cursor: pointer;
  border-color: #066f09;
}
.pbtn {
  border-radius: 10px;
  background-color: #21B025;
  border-color: #B02921;
  font-size: 150%;
}
.pbtn:hover {
  background-color: #e9473f;
  cursor: pointer;
  border-color: #066f09;
}
.invbtn {
  border-radius: 10px;
  background-color: #21B025;
  border-color: #B02921;
  font-size: 150%;
}
.invbtn:hover {
  background-color: #e9473f;
  cursor: pointer;
  border-color: #066f09;
}
.invite {
  background: black;
}
